@charset "utf-8";

$color-blue: #0e639c;
$color-light-grey: #cccccc;
$color-dark-grey: #1e1e1e;

$body-background-color: $color-dark-grey;
$primary: $color-blue;
$text: $color-light-grey;

/* Content */
$content-heading-color: $color-light-grey;

/* Form */
$label-color: $color-light-grey;
$label-weight: 400;

@import '../../node_modules/bulma/bulma.sass';
